body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: small;
}
h1,
h2 {
  font-weight: normal;
  border-bottom: thin dotted #888888;
  color:#cc6600;
  text-align:center;
}
h1 {
  font-size: 170%;
}
h2 {
  font-size: 130%;
}
blockquote {
  font-style: italic;
}
table{
  margin-left:20px;
  margin-right:20px;
  border: thin solid black;
  caption-side:bottom;
  border-collapse:collapse;
}
td, th{
  border:thin dotted gray;
  padding:5px;
}
th{
  background-color: #cc6600;
}
.cellcolor{
  background-color:#fcba7a;
}
caption{
  font-style:italic;
}
#center-align{text-align:center;
}
#right-aligned{text-align:right;
}
